<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szty.commos.shiros.dao.SysAuthorityMapper">

	<!--实体映射-->
	<resultMap id="sysAuthorityResultMap" type="com.szty.commos.shiros.model.SysAuthority">
		<!---->
		<result column="id"  property="id" />
		<!---->
		<result column="resouces_id"  property="resoucesId" />
		<!---->
		<result column="resouces_code"  property="resoucesCode" />
		<!---->
		<result column="resouces_auth"  property="resoucesAuth" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	id,	resouces_id,	resouces_code,	resouces_auth
	</sql>


	<!-- 查询条件-->
	<sql id="modelwheresql">
	<where>

			<if test="id != null and id != '' ">
				 and id = #{id}
			</if>
			<if test="resoucesId != null and resoucesId != '' ">
				 and resouces_id = #{resoucesId}
			</if>
			<if test="resoucesCode != null and resoucesCode != '' ">
				 and resouces_code = #{resoucesCode}
			</if>
			<if test="resoucesAuth != null and resoucesAuth != '' ">
				 and resouces_auth = #{resoucesAuth}
			</if>

	</where>
	</sql>


	<sql id="limitsql">
			<if test="limitStart != null and pageSize != null">
				 <![CDATA[  
				 order by id desc limit #{limitStart} , #{pageSize} 
				 ]]>  
			</if>
	</sql>	<!-- 添加 -->
	<insert id="save" parameterType="com.szty.commos.shiros.model.SysAuthority">
		 <selectKey resultType="long" keyProperty="id">
		 SELECT LAST_INSERT_ID()
		 </selectKey>
		 INSERT INTO sys_authority
 		(resouces_id,resouces_code,resouces_auth) 
		 VALUES 
 		(#{resoucesId},#{resoucesCode},#{resoucesAuth}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.szty.commos.shiros.model.SysAuthority">
		 INSERT INTO sys_authority
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="resoucesId != null">
				 resouces_id,
			</if>
			<if test="resoucesCode != null">
				 resouces_code,
			</if>
			<if test="resoucesAuth != null">
				 resouces_auth,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null and id!='' ">
				 #{id},
			</if>
			<if test="resoucesId!=null and resoucesId!='' ">
				 #{resoucesId},
			</if>
			<if test="resoucesCode!=null and resoucesCode!='' ">
				 #{resoucesCode},
			</if>
			<if test="resoucesAuth!=null and resoucesAuth!='' ">
				 #{resoucesAuth},
			</if>
		 </trim>
	</insert>

	<!-- 添加 -->
	<insert id="saveBatchSysAuthority" parameterType="java.util.List">
		 INSERT INTO sys_authority
 		(resouces_id,resouces_code,resouces_auth) 
		 VALUES 
 		 <foreach collection="list" item="item" index="index" separator="," >  
 		(#{item.resoucesId},#{item.resoucesCode},#{item.resoucesAuth}) 
 		 </foreach>
	</insert>

	<!-- 修 改id-->
	<update id="updateByPrimaryKey" parameterType="com.szty.commos.shiros.model.SysAuthority">
		 UPDATE sys_authority
		 <set> 
			<if test="resoucesId != null">
				 resouces_id = #{resoucesId},
			</if>
			<if test="resoucesCode != null">
				 resouces_code = #{resoucesCode},
			</if>
			<if test="resoucesAuth != null">
				 resouces_auth = #{resoucesAuth}
			</if>

		 </set> 		 WHERE id = #{id}
	</update>
	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey"  resultMap="sysAuthorityResultMap" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_authority
		 WHERE id = #{id}
	</select>

	<!-- 刪除 -->
	<delete  id="delByPrimaryKey" parameterType="java.lang.Long">
		 delete
		 FROM sys_authority
		 WHERE id = #{id}
	</delete>

	<!-- 查询  List 查询 -->
	<select id="queryList" resultMap="sysAuthorityResultMap" parameterType="com.szty.commos.shiros.model.SysAuthority">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_authority
		  
		 <include refid="modelwheresql" />
	</select>

	<!-- 查询 分页总数 -->
	<select id="queryPageCount"  resultType="java.lang.Integer"  parameterType="com.szty.commos.shiros.model.SysAuthority">
		 SELECT
		 count(1)
		 FROM sys_authority
		  
		 <include refid="modelwheresql" />
	</select>
	<!-- 查询 分页查询 -->
	<select id="queryPageList" resultMap="sysAuthorityResultMap"  parameterType="com.szty.commos.shiros.model.SysAuthority">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_authority
		  
		 <include refid="modelwheresql" />
		 <include refid="limitsql" />
	</select>

</mapper>