<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szty.commos.shiros.dao.SysAuthorityMapper">

	<!--实体映射-->
	<resultMap id="sysAuthorityResultMap" type="com.szty.commos.shiros.model.SysAuthority">
		<!---->
		<result column="id"  property="id" />
		<!---->
		<result column="resouces_id"  property="resoucesId" />
		<!---->
		<result column="add"  property="add" />
		<!---->
		<result column="edit"  property="edit" />
		<!---->
		<result column="imports"  property="imports" />
		<!---->
		<result column="exports"  property="exports" />
		<!---->
		<result column="delete"  property="delete" />
		<!---->
		<result column="view"  property="view" />
		<!---->
		<result column="upload"  property="upload" />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
	id,	resouces_id,	add,	edit,	imports,	exports,	delete,	view,	upload
	</sql>


	<!-- 查询条件-->
	<sql id="modelwheresql">
	<where>

			<if test="id != null and id != '' ">
				 and id = #{id}
			</if>
			<if test="resoucesId != null and resoucesId != '' ">
				 and resouces_id = #{resoucesId}
			</if>
			<if test="add != null and add != '' ">
				 and add = #{add}
			</if>
			<if test="edit != null and edit != '' ">
				 and edit = #{edit}
			</if>
			<if test="imports != null and imports != '' ">
				 and imports = #{imports}
			</if>
			<if test="exports != null and exports != '' ">
				 and exports = #{exports}
			</if>
			<if test="delete != null and delete != '' ">
				 and delete = #{delete}
			</if>
			<if test="view != null and view != '' ">
				 and view = #{view}
			</if>
			<if test="upload != null and upload != '' ">
				 and upload = #{upload}
			</if>

	</where>
	</sql>


	<sql id="limitsql">
			<if test="limitStart != null and pageSize != null">
				 <![CDATA[  
				 order by id desc limit #{limitStart} , #{pageSize} 
				 ]]>  
			</if>
	</sql>	<!-- 添加 -->
	<insert id="save" parameterType="com.szty.commos.shiros.model.SysAuthority">
		 <selectKey resultType="long" keyProperty="id">
		 SELECT LAST_INSERT_ID()
		 </selectKey>
		 INSERT INTO sys_authority
 		(resouces_id,add,edit,imports,exports,delete,view,upload) 
		 VALUES 
 		(#{resoucesId},#{add},#{edit},#{imports},#{exports},#{delete},#{view},#{upload}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="com.szty.commos.shiros.model.SysAuthority">
		 INSERT INTO sys_authority
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="resoucesId != null">
				 resouces_id,
			</if>
			<if test="add != null">
				 add,
			</if>
			<if test="edit != null">
				 edit,
			</if>
			<if test="imports != null">
				 imports,
			</if>
			<if test="exports != null">
				 exports,
			</if>
			<if test="delete != null">
				 delete,
			</if>
			<if test="view != null">
				 view,
			</if>
			<if test="upload != null">
				 upload,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null and id!='' ">
				 #{id},
			</if>
			<if test="resoucesId!=null and resoucesId!='' ">
				 #{resoucesId},
			</if>
			<if test="add!=null and add!='' ">
				 #{add},
			</if>
			<if test="edit!=null and edit!='' ">
				 #{edit},
			</if>
			<if test="imports!=null and imports!='' ">
				 #{imports},
			</if>
			<if test="exports!=null and exports!='' ">
				 #{exports},
			</if>
			<if test="delete!=null and delete!='' ">
				 #{delete},
			</if>
			<if test="view!=null and view!='' ">
				 #{view},
			</if>
			<if test="upload!=null and upload!='' ">
				 #{upload},
			</if>
		 </trim>
	</insert>

	<!-- 添加 -->
	<insert id="saveBatchSysAuthority" parameterType="java.util.List">
		 INSERT INTO sys_authority
 		(resouces_id,add,edit,imports,exports,delete,view,upload) 
		 VALUES 
 		 <foreach collection="list" item="item" index="index" separator="," >  
 		(#{item.resoucesId},#{item.add},#{item.edit},#{item.imports},#{item.exports},#{item.delete},#{item.view},#{item.upload}) 
 		 </foreach>
	</insert>

	<!-- 修 改id-->
	<update id="updateByPrimaryKey" parameterType="com.szty.commos.shiros.model.SysAuthority">
		 UPDATE sys_authority
		 <set> 
			<if test="resoucesId != null">
				 resouces_id = #{resoucesId},
			</if>
			<if test="add != null">
				 add = #{add},
			</if>
			<if test="edit != null">
				 edit = #{edit},
			</if>
			<if test="imports != null">
				 imports = #{imports},
			</if>
			<if test="exports != null">
				 exports = #{exports},
			</if>
			<if test="delete != null">
				 delete = #{delete},
			</if>
			<if test="view != null">
				 view = #{view},
			</if>
			<if test="upload != null">
				 upload = #{upload}
			</if>

		 </set> 		 WHERE id = #{id}
	</update>
	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey"  resultMap="sysAuthorityResultMap" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_authority
		 WHERE id = #{id}
	</select>

	<!-- 刪除 -->
	<delete  id="delByPrimaryKey" parameterType="java.lang.Long">
		 delete
		 FROM sys_authority
		 WHERE id = #{id}
	</delete>

	<!-- 查询  List 查询 -->
	<select id="queryList" resultMap="sysAuthorityResultMap" parameterType="com.szty.commos.shiros.model.SysAuthority">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_authority
		  
		 <include refid="modelwheresql" />
	</select>

	<!-- 查询 分页总数 -->
	<select id="queryPageCount"  resultType="java.lang.Integer"  parameterType="com.szty.commos.shiros.model.SysAuthority">
		 SELECT
		 count(1)
		 FROM sys_authority
		  
		 <include refid="modelwheresql" />
	</select>
	<!-- 查询 分页查询 -->
	<select id="queryPageList" resultMap="sysAuthorityResultMap"  parameterType="com.szty.commos.shiros.model.SysAuthority">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM sys_authority
		  
		 <include refid="modelwheresql" />
		 <include refid="limitsql" />
	</select>

</mapper>