body {
    margin: 0px;
    padding: 0px;
    color: #000000;
    border: 0px;
    line-height: 22px;
    font-size: 12px;
}

a {
    color: #176dba;
    text-decoration: none;
}

div, p, span, em, a, img, h1, h2, h3, form, input, td, select, textarea {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: normal;
}

.top {
    background-color: #F0F0F0;
    border-bottom: #C2D1DF solid 1px;
    padding-left: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.top a{
    color:#000;
}

.index_top {
    margin-top: 4px;
    margin-bottom: 4px;
}

.bottom {
    margin-top: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: #DCE5EC solid 1px;
    border-bottom: #DCE5EC solid 1px;
    background-color: #F0F0F0;
    color: #6E6E6E;
    padding-left: 4px;
}

/*
a {
    text-decoration: none;
}

a:link {
    color: #2e67b5;
}
*/

a:visited {
    /* color: #800080; */
}

.red_font {
    color: #f6310a;
}

font {
    color: #2e67b5;
    font-size: 16px;
    margin: 1px;
}

.logo {
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 2px;
}

.title_orange {
    border-bottom: #9E4100 solid 1px;
    color: #FFFFFF;
    background-color: #EB6101;
    margin-bottom: 4px;
    margin-top: 2px;
    line-height: 25px;
    height: 25px;
    padding-left: 4px;
}

.title_gray {
    border-bottom: #dadada solid 1px;
    color: #000000;
    background-color: #f0f0f0;
    margin-top: 2px;
    margin-bottom: 4px;
    line-height: 25px;
    height: 25px;
    padding-left: 4px;
}

.search_orange {
    border-bottom: #9E4100 solid 1px;
    color: #FFFFFF;
    background-color: #EB6101;
    margin-top: 1px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
}

.search_croci {
    border-bottom: #F6C4AC solid 1px;
    border-top: #F6C4AC solid 1px;
    color: #FFFFFF;
    background-color: #FCECD6;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.bottom_gray {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: #E2E2E2 solid 1px;
    margin-bottom: 3px;
    padding-left: 4px;
}

.bg_gray {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-left: 4px;
    background-color: #f0f0f0;
}

.bg_white {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-left: 4px;
    background-color: #ffffff;
}

.top_bottom_gray {
    padding-bottom: 1px;
    border-bottom: #E2E2E2 solid 1px;
    margin-bottom: 3px;
    padding-left: 4px;
    margin-top: 5px;
}

.orange_bg {
    background-color: #FCECD6;
    color: #000000;
    border: #F8D2BF solid 1px;
    padding: 7px;
    margin: 5px 4px 6px 4px;
}

.orange_bg_across {
    background-color: #FCECD6;
    color: #000000;
    border-top: #F8D2BF solid 1px;
    border-bottom: #F8D2BF solid 1px;
    padding: 7px 4px 7px 4px;
    margin-bottom: 5px;
}

.gray_bg {
    border: #F8D2BF solid 1px;
    padding: 7px;
    margin: 5px 4px 6px 4px;
    background-color: #f0f0f0;
}

.double_gray_bg {
    border-top: #E2E2E2 solid 1px;
    border-bottom: #E2E2E2 solid 1px;
    background-color: #f0f0f0;
    padding-left: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.double_croci_bg {
    border-top: #F7C1A6 solid 1px;
    border-bottom: #F7C1A6 solid 1px;
    background-color: #fbe4c5;
    padding-left: 4px;
    line-height: 25px;
    height: 25px;
    margin-top: 2px;
    margin-bottom: 4px;
}

#button {
    padding: 2px 7px 2px 7px;
    font-size: 14px;
}

#button_blue {
    padding: 2px 7px 2px 7px;
    font-size: 14px;
    color: #2e67b5;
}

#form1, #form2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.gray_ranking {
    background-color: #f0f0f0;
    margin-bottom: 4px;
    padding-left: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.yellow_font {
    background-color: #FCECD6;
    color: #000000;
    border-top: #F8D2BF solid 1px;
    border-bottom: #F8D2BF solid 1px;
    padding: 7px 4px 7px 4px;
    margin-bottom: 5px;
}

#lb-td {
    padding-left: 3px;
    padding-top: 3px;
    height: 18px;
    background-image: url(http://211.151.140.38/wap/icon/1294997014523.jpg);
}

.lb-txt
.b {
    color: #8b8b8b;
    font-weight: bold;
}

.c {
    color: #ff0000;
    font-weight: bold;
}

.bottom_gray_only {
    border-bottom: #E2E2E2 solid 1px;
    padding-bottom: 3px;
    margin-bottom: 4px;
}

img {
    border: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.images_border img {
    border: 1px solid #C2C2C2;
    padding: 1px;
}

.class154 {
    border-bottom: #E3E3E3 solid 1px;
    margin-bottom: 5px;
    background-color: #F0F0F0;
    text-align: left;
    text-decoration: none;
    padding-left: 4px;
}

.class172 {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top: #DCE5EC solid 1px;
    border-bottom: #DCE5EC solid 1px;
    background-color: #F0F0F0;
    color: #6E6E6E;
    padding-left: 4px;
}

.class142 {
    color: #F6310A;
    text-align: left;
    text-decoration: none;
}

.class161 {
    border-bottom: #E2E2E2 solid 1px;
    margin-bottom: 5px;;
    text-align: left;
    text-decoration: none;
}

.class163 {
    background-color: #EB6101;
    border-bottom: 1px solid #9E4100;
    margin-bottom: 5px;
    text-align: left;
    text-decoration: none;
}

.class164 {
    border-left: 0 solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 4px;
    text-align: left;
    text-decoration: none;
}

.class166 {
    color: #2E67B6;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
}

.class131 {
    height:35px;
    line-height:35px;
    padding-left:7px;
    border-top: #D3D3D3 solid 1px;
    border-bottom: #D3D3D3 solid 1px;

    background-color: #F5F5F5;
    text-align: left;
    text-decoration: none;
    font-size: 14px;
}

.class131 .input_text {
    width: 200px;
    height: 20px;
    line-height: 20px;
}

.class131 .input_submit {
    padding: 2px 10px 2px 10px;
    width: 80px;

}

.class169 {
    margin: 0px;
    padding: 0px 4px 0px 4px;
    height: auto;
    background-color:#fff;
}

.class169_img {
    margin-bottom: 5px;

}

.class169 li {
    height: 25px;
    line-height: 25px;
    background-image: url("../images/disc.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 13px;
    overflow: hidden;
}
.class169 li a{
    font-weight:normal;
}

.class129 {
    font-size: 16px;
    color: #F6310A;
    float: left;
    text-align: left;
    text-decoration: none;
}

.class133 {
    border-bottom: #D3D3D3 solid 1px;
    border-top: #D3D3D3 solid 1px;
    border-left: #FFFFFF solid 0px;
    margin-bottom: 5px;
    margin-left: -4px;
    font-size: 16px;
    color: #000000;
    background-color: #F5F5F5;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    padding-left: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    position:relative;
    /*  background-color: #F0F0F0;
    border-bottom: #C2D1DF solid 1px;
    padding-left: 4px;
    padding-top: 6px;
    padding-bottom: 6px;*/

}

.class132 {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #E20221;
    float: left;
    text-align: center;
    width: 16px;
    text-decoration: none;
}

.class165 {
    font-size: 16px;
    color: #FF0000;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

.class145 {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #157DCA;
    float: left;
    text-align: center;
    width: 16px;
    text-decoration: none;
}

.class147 {
    border-right: #FFFFFF solid 0px;
    margin-right: 5px;
    font-size: 16px;
    color: #167CCE;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

.class135 {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #EB8602;
    float: left;
    text-align: center;
    width: 16px;
    text-decoration: none;
}

.class136 {
    border-right: #FFFFFF solid 0px;
    margin-right: 5px;
    font-size: 16px;
    color: #EC8504;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

.class138 {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #01947D;
    float: left;
    text-align: center;
    width: 16px;
    text-decoration: none;
}

.class140 {
    border-right: #FFFFFF solid 0px;
    margin-right: 5px;
    font-size: 16px;
    color: #00947E;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

.class170 {
    border-left: #FFFFFF solid 0px;
    margin-left: 4px;;
    color: #F6310A;
    text-align: left;
    text-decoration: none;
}

.class143 {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #F07283;
    float: left;
    text-align: center;
    width: 16px;
    font-weight: bold;
    text-decoration: none;
}

.class144 {
    border-right: #FFFFFF solid 0px;
    margin-right: 5px;
    font-size: 16px;
    color: #F07385;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

.class150 {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #AD65A8;
    float: left;
    text-align: center;
    width: 16px;
    text-decoration: none;
}

.class151 {
    border-right: #FFFFFF solid 0px;
    margin-right: 5px;
    font-size: 16px;
    color: #AC65A7;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

.class152 {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #469940;
    float: left;
    text-align: center;
    width: 16px;
    text-decoration: none;
}

.class153 {
    border-right: #FFFFFF solid 0px;
    margin-right: 5px;
    font-size: 16px;
    color: #469941;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

.class155 {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #EB6101;
    float: left;
    text-align: center;
    width: 16px;
    text-decoration: none;
}

.class156 {
    font-size: 16px;
    color: #EC6200;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}
.class130 {
    position: absolute;
    right: 20px;
    font-size: 14px;
    color: #EC6200;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}
.class130 a{
    font-size: 12px;
}

.class149 {
    font-size: 16px;
    color: #F6310A;
    text-align: left;
    text-decoration: none;
}

.title_span {
    color: #FD7500;
}

.class_Sort {
    padding: 0px 7px 7px 7px;
    height: auto;
    line-height: 25px;
}

.class_Sort a {
    margin: 0px 3px 0px 3px;
}

.Addrecss_header {
    text-decoration: none;
    font-size: 14px;
}

.Addrecss_title {
    background-color: #F5F5F5;
    height: 35px;
    line-height: 35px;
    padding-left: 7px;
    padding-right: 7px;
	position:relative;
}

.Addrecss_title strong {
    float: left;
    color: #FD7500;
    font-weight: 700;
    font-size: 18px;
}

.Addrecss_title span {
    float: right;
}

.Addrecss_menu {
    background-color: #fff;
    height: 35px;
    line-height: 35px;
    padding-left: 3px;
}

.Addrecss_menu a {
    color: #000;
    padding-left: 4px;
    padding-right: 4px;
}

.Addrecss_content {
    background-color: #fff;
    padding-bottom: 30px;
}

.Addrecss_contentTitle {
    background-color: #F5F5F5;
    height: 35px;
    line-height: 35px;
    padding-left: 7px;
}

.Addrecss_contentTitle a {
    color: #000;

}

.Addrecss_infor {
    padding: 5px;
}

.Addrecss_inforList {
    margin-bottom: 12px;
}

.Addrecss_inforList select {
    height: 28px;
    width: 200px;
    FILTER: Alpha(opacity = 0);
    margin-top: 5px;
    outline: none;
}

.Addrecss_inforList input {
    outline: none;
    height: 24px;
    width: 200px;
    FILTER: Alpha(opacity = 0);
    margin-top: 5px;
}

.Addrecss_submit input {
    padding: 2px 10px 3px 10px;
}

.Addrecss_link {
    margin-top: 5px;
    padding-left: 5px;
}

.Addrecss_link a {
    text-decoration: underline;
}

.footer_menu {
    background-color: #F5F5F5;
    height: 35px;
    line-height: 35px;
    padding-left: 7px;
}

.footer_menu a {
    color: #000;
    padding-right: 6px;
    padding-left: 1px;
}

.footer_menu span {
    color: #bd5f5f;
    font-weight: 600;
}

.footer_3G {
    margin-left: 20px;
    color: #156DB7;
    text-decoration: underline;
    font-weight: 800;
    font-size: 18px;
}

.footer_Remark {
    background-color: #d7d7d7;
    height: 70px;
    padding-left: 7px;
    padding-top: 5px;
}

.footer_kefu {
    height: 30px;
    line-height: 30px;
}

.footer_kefu a {
    color: #000;
}

.login_menu {
    background-color: #F5F5F5;
    height: 35px;
    line-height: 35px;
    padding-left: 7px;
}

.login_menu a {
    color: #000;
    padding-right: 6px;
}

.login_content {
    background-color: #fff;
    padding: 7px 7px 30px 7px;
}

.login_submit {
    padding-top: 15px;
}

.login_submit a {
    font-weight: 600;
}

.login_submit input {
    padding: 2px 10px 3px 10px;
}

.login_link {
    padding-top: 20px;
}

.Addrecss_inforList a {
    font-weight: 600;
}

.vpassword_submit {
    padding-bottom: 20px;
    padding-top: 15px;
    border-bottom: solid 1px #959595;
}

.order_list {
    padding: 7px 7px 0px 7px;
}

.order_list ol {
    list-style-type: none;
    padding: 0 10px 0 10px;
    margin: 0;
    font-size: 14px;
}

.order_list ol li {
    padding: 3px 0 3px 0;
}

.order_list ol li a {
    font-weight: 600;
    font-size: 14px;
}

.order_list ol li em {
    color: #F00;
    font-weight: 600;
}

.order_list_img {
    border: solid 1px #ccc;
    width: 240px;
    height: 147px;
    margin-top: 8px;
}

.order_more {
    margin-top: 15px;
    padding-left: 10px;
    padding-bottom: 100px;
}

.order_more a {
    text-decoration: underline;
    font-weight: 600;
}
.goods_info{
	overflow:hidden;
	background-color:#fff;

}
.goods_title{
	border-bottom: #D3D3D3 solid 1px;
    border-top: #D3D3D3 solid 1px;
    font-size: 16px;
    color: #000000;
    background-color: #F5F5F5;
	height:35px;
	line-height:35px;
	padding-left:7px;
}
.goods_list{
	overflow:hidden;
	background-color:#fff;
}
.goods_list_img{
	padding:5px 0px 0px 7px;
}
.goods_content{
	padding-bottom:10px;
}
.orders_content{
	background-color: #fff;
    padding-bottom: 10px;
}
.orders_content ol{
	list-style-type:none;
	margin:0;
	padding:0;
	position:relative;
}
.orders_content ol li{
	background-color:#f4feff;
	border-bottom:solid 1px #d7d7d7;
}
.Addrecss_title a{
	position:absolute;
	left:7px;
	color:#000;
}
.Addrecss_title input{
	position:absolute;
	top:3px;
	right:7px;
	padding: 2px 10px 3px 10px;
	font-size:12px;
}
.orders_list{
	line-height:25px;
	padding:4px 0px 4px 7px;
	font-size:14px;
	margin-left:20px;

}
.orders_list strong{
	font-weight:700;
	color:#069;
	font-size:14px;
}
.orders_list em{
	color:#f00;
	font-weight:700;
}
.orders_list a{
	font-size:14px;
	padding-right:10px;
	padding-left:8px;
}
.orders_lookLink{
	margin-top:15px;
	padding-left:4px;

}
.orders_lookLink a{
	text-decoration:underline;
	font-weight:700;
}
.orders_num{
	position:absolute;
	left:7px;
	top:6px;
	width:20px;
	font-size:14px;
}
.orders_details{
	height:70px;
	padding-left:7px;
}
.orders_details em{
	color:#f00;
	font-weight:700;
}
.orders_details label,.orders_details span ,.orders_details a{
	font-size:12px;
}
.orders_money{
	margin-top:8px;
}

.orders_address{
	margin-top:auto;
}

.orders_address a{
	text-decoration:underline;
}
.orders_btn02{
	display:inline-block;
	margin-left:10px;
}
.categroryall_content{
	overflow:hidden;
	height:auto;
	padding:5px 0px 8px 7px;
	background-color:#FFC;
}
.categroryall_content ol{
	overflow:hidden;
	list-style-type:none;
	padding:0;
	margin:0;

}
.categroryall_content ol li{
	float:left;

}

.categroryall_list{
	overflow:hidden;
	padding:5px 0 8px 12px;
}
.categroryall_list ol{
	list-style-type:none;
	padding:0;
	margin:0;
}
.categroryall_list ol li{
	line-height:25px;
}
.categroryall_list ol li.first{
	margin-left:-5px;
}
.categroryall_list ol li strong{
	color:#eb6101;
	font-weight:bolder;
	font-size:16px;
}
.categroryall_list ol li label{
	color:#166cb7;
}
.categroryall_list ol li label a{
	padding-left:5px;
	padding-right:5px;
}
.search_sort{
	overflow:hidden;
	height:35px;
	line-height:35px;
	background-color:#ffe0b2;
	padding-left:7px;
}
.search_sort a{
	padding-right:20px;
}
.search_sort a span{
	color:#000;
}
.search_sort a:hover span{
	color:#F6310A;
}
.search_sort a:active span{
	color:#F6310A;
}
.search_goods_list{
	padding:8px 0 8px 7px;
	height:180px;
	border-bottom:solid 1px #d7d7d7;
}
.search_goods_name{
	font-size:14px;
	font-weight:800;
}
.search_goods_info{
	position:relative;
	height:auto;
	margin-top:5px;
}
.search_goods_img{
	position:absolute;
	width:120px;
	height:120px;
}
.search_goods_img img{
	width:120px;
	height:120px;
}
.search_goods_money{
	margin-left:140px;
}
.search_goods_money label{
	width:100px;
}
.product_menu {
    background-color: #fff;
    height: 35px;
    line-height: 35px;
	border-bottom:solid 1px #ccc;
}
.product_menu a{
    padding-left: 1px;
    padding-right: 4px;
}
.product_info{
	background-color: #fff;
}
.product_name{
	font-weight:800;
}
.product_details{
	padding-left:7px;
	padding-top:7px;
}
.product_details ol{
	list-style-type:none;
	padding:0;
	margin:0;
	margin-top:5px;
}
.product_details ol li{
	line-height:28px;
}
.product_details ol li label{

}
.product_details ol li em{
	color:#f00;
	font-weight:700;
}
.product_details ol li a{
	text-decoration:underline;
	padding-left:10px;
	padding-right:10px;
}
.product_submit{
	line-height:50px;
}
.product_submit input{
	padding: 5px 15px 5px 15px;
	width:110px;
	border:none;
	color:#fff;
	font-weight:900;
	text-align:center;
}
.product_input01{
	background-color:#f37703;
}
.product_input02{
	background-color:#408bfe;
	margin-left:10px;
}
.product_desc{
	padding-left:7px;
	padding-top:7px;
}